/*General*/

body {
  font-family:  "Open Sans","Lato", sans-serif;
  overflow-x: hidden;
}

p {
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans","Lato", sans-serif;
  font-weight: 700;
}

/*Top Bar*/
#topbar {
  background: #1b1b1b;
  height: 40px;
  font-size: 10px;
  transition: all 0.5s;
  color: #919191; 
}

#topbar.topbar-scrolled {
  top: -40px;
}

#topbar .work-hour i {
  padding-right: 4px;
  margin-left: 15px;
}

#topbar i {
  color: #ffffff;
}

#topbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

#topbar ul li { 
  list-style: none;
  display: inline-block;
}

#topbar .work_hour {
  margin: 15px 0;
  color: #919191;
}

#topbar .work_hour .time {
  color: #ffffff;
}

#topbar .work-hour i:first-child {
  margin-left: 0;
}

#topbar .header_menu3 .active {
  color:white 
}

#topbar ul li a {
  color: #919191;
  text-decoration: none;
}

#topbar ul li a:hover {
  color: #ffffff;
  text-decoration: none;
}

.motto, .author{
  display: block;
  text-align: center;
}
.motto{
  font-size: 1.85em;
}
.br{
  width: 50%;
  height: 2px;
  margin: 25px auto;
  border-radius: 2px;
  background-color: #0088ee;
}

/*header*/
#header {
  background:#35a7eb;
  transition: all 0.5s;
  z-index: 997;
  font-size: 12px;
  /* padding: 25px 0; */
  /* if it is fixed top
  top: 40px; */
}

#header.header-scrolled {
  top: 0;
  padding: 15px;
}

@media (max-width: 992px) {
  #header {
    padding: 15px;
    top: 0;
  }
} 

#header .navbar-brand {
  background-color: #ffffff;
} 

#navbarResponsive{
background: #35a7eb;
}

#header ul li a {
  text-transform: uppercase;
  color: #ffffff;
}

#header ul li a:hover {
  color: #ccff99;
  text-decoration: none;
}

#header ul li a.active {
  color: #ccff99;
  text-decoration: none;
}

#header button:hover {
  background: #2b77bc;
}

#header button {
  background-color: #3096d3;
  padding: 10px 23px;
  color: #ffffff;
  border-radius: 20em;
  border: none;
}

/*banner*/
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url(img/b2.png)no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 1000px;
  color: #fff;
}

/*banner-content*/
.banner-content {
  margin-top: 310;
  margin-bottom: 185;
}

.banner-content .the_content {
  margin-top: 315;
  font-family: 'Lato';
}

.banner-content .the_content h1  {
  font-size: 72px;
  padding-bottom: 30;
}

.banner-content .the_content h3 {
  font-size: 30px;
  padding-bottom: 25;
}

#banner .btn-find {
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  transition: 0.5s;
  background: #66cc66 none repeat scroll 0 0;
  color: white;
  padding: 20px 40px;
  border-radius: 5px;
  margin-bottom: 60;
}

#banner .btn-find:hover {
  background: #13a456;
  color: white;
  text-decoration: none;
}

.banner-content .the_content2 {
  margin-top: 310; 
  font-size: 13px;
  color: black;
} 

.card-1 {
  font-family: 'Lato';
}

.main_heading.text_align_left::after {
	margin-left: 0;
}

.main_heading.text_align_right::after {
	margin-right: 0;
}

.card-1 .card-title {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  font-size: 13;
  display:inline-flex;
  padding-left:40;
  word-wrap:break-word;
}

.card-1 .card-text {
  color: black;
  font-size: 13px;
  padding-left: 80;
}

/*	banner-4card */
.banner-4card .card-group {
  background: white;
  color: white;
  margin-top: -185;
}

.banner-4card .card-group .card {
  background: #3695eb;
  padding-top: 50;
  padding-bottom: 90;
}

.banner-4card .card-group .card:hover {
  background: #2b77bc;
  cursor: pointer;
} 

.banner-4card .card-group .card.active {
  background: #2b77bc;
} 

.banner-4card .card-group .card .card-title {
  text-transform: uppercase;
  font-weight: bold; 
  font-family: 'Lato';
  font-size: 18px;
  display:inline-flex;
  width:100px;
  word-wrap:break-word;
 }


.banner-4card .card-group .card .card-text {
  font-family: 'Open Sans';
  font-size: 13px;
}

/*who_we_are*/
#who_we_are {
  padding-top: 110;
  padding-bottom: 150;
  color: black;
  font-family: 'Lato';
}

#who_we_are h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}

#who_we_are h5 {
  color: #006699;
  font-size: 22px;
  padding-bottom: 45;
  padding-top: 50;
}

#who_we_are p {
  font-size: 13;
}

#who_we_are #accordion .card.first-card{
  padding-top: 50;
}

#who_we_are #accordion .card {
  border: none;
  padding-bottom: 10;
}

#who_we_are #accordion .card .card-body {
  font-size: 13px;
}
/* 
#who_we_are #accordion .card .card-header {
  background: black;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

} */

#who_we_are #accordion .accordion-toggle.collapsed {
  background-color: #aeaebc;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
 
#who_we_are #accordion .accordion-toggle {
  background-color: #65cb65;
  display: block;
  padding: 10px;
  margin: -15px -20px; 
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#who_we_are #accordion .accordion-toggle.active {
  background-color: #65cb65;
  display: block;
  padding: 10px;
  margin: -15px -20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#who_we_are #accordion .card .card-header .card-link {
  color: white;
  font-weight: bold;
  font-size: 12px;
}

/*showcase*/
.showcase {
  font-family: 'Lato';
}

.showcase .showcase-img{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url(img/bg-showcase-1.png)no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 690px;
}

.showcase .showcase-text{
  padding-top: 175;
  padding-bottom: 105;
  background: #f5f5f5;
}

.showcase  .box {
  margin-bottom: 100;
}

.showcase .icon {
  float: left;
  margin-right: 20;
}

.showcase .card-title{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 25;
  color: black;
}

.showcase .card-text {
  font-size: 14px;
  font-family: 'Open Sans';
  margin-left: 80;
  float: right;
}

.showcase2 {
  font-family: 'Lato';
}

.showcase2 .showcase2-img{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;
  min-height: 690px;
}

.showcase2 .showcase2-text{
  padding-top: 225;
  padding-bottom: 211; 
  background: #f5f5f5;
}

.showcase2 h2{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24;
  padding-bottom: 35;
}

.showcase2 .card-text {
  font-size: 14px;
  font-family: 'Open Sans';
  padding-bottom: 38px;
}

.showcase2 .btn-read-more {
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  transition: 0.5s;
  background: #66cc66 none repeat scroll 0 0;
  color: white;
  padding: 20px 40px;
  border-radius: 5px;
}

.showcase2 .btn-read-more:hover {
  background: #13a456;
  color: white;
  text-decoration: none;
}

/*services*/
.services {
  padding-top: 170;
  padding-bottom: 180;
  background: url("img/services.png") top left;
  color: white;
  background-size: cover;
  font-family: 'Lato';
}

.services h2{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24;
  padding-bottom: 60px;
}

.services p{
  font-size: 18;
  padding-bottom: 75px;
}

.services ul a {
  text-decoration: none;
  color: white;
  padding: 35px;
  font-size: 11px;
}

.services ul a.active{
  text-decoration: none;
  color: #ccff99;
}

.services ul a:hover {
  text-decoration: none;
  color: #ccff99;
}

/*news*/
.news {
  padding-top: 155;
  padding-bottom: 130;
  margin: auto;
  color: #666666;
  font-family: 'Lato';
  font-size: 16;
  font-weight: bold;
}

.news h2{
  font-weight: bold;
  color: black; 
  font-size: 30px;
}

.news .card-deck{
  padding-top: 60;
  padding-bottom: 50;
}

.news .card-deck .card{
  border: none;
}

.news2 {
  background: url('img/news-3.png');
  color: white;
  height: 270;
  width: 270;
  position: relative;
  margin-bottom: 40;
  /* word-wrap: none; */
}

.news2 p{
  bottom: -250;
}

.news2 hr {
  width: 25%;
  height: 3;
  background-color: #8ad8bd ;
  border: none;  
  position: relative;
  bottom: -200;
}

.news .btn-find-more {
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  transition: 0.5s;
  background: #66cc66 none repeat scroll 0 0;
  color: white;
  padding: 20px 40px;
  border-radius: 5px; 
}

.news .btn-find-more:hover {
  background: #13a456;
  color: white;
  text-decoration: none;
}

.news .centered {
  position: absolute;
  font-size: 12;
  font-weight: bold;
  top: 210;
  left: 50%;
  bottom: 250;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  width: 200;
  word-wrap:break-word;
}

/*Contact*/
.contact .contact-map {
  min-height: 663;
  background-size: cover;
}

.contact .info-box {
  color: white;
  text-align: center;
  background: #3695eb;
  text-transform: uppercase;
  font-family: 'Lato';
}

.contact .info-box.p2-1 {
  padding-top: 115;
  padding-bottom: 135;
}

.contact .info-box.p2-2 {
  padding-top: 110;
  padding-bottom: 140;
}

.contact .info-box.p3-2 {
  padding-top: 100;
  padding-bottom: 125; 
}

.contact .col-md-6 {
  border: 2px solid #5ba7ec;
  background: #3695eb;
}

.contact .info-box h3 {
  font-size: 16;
  color: white;
  font-weight: bold;
  margin-bottom: 25;
  text-transform: uppercase;
}

.contact .info-box p {
  font-size: 12;
}

/* Footer*/
#footer {
  background: #2f4256;
  padding-top: 185;
  padding-bottom: 95;
  color: #a0b4c7;
  font-family: 'Lato';
}

#footer .footer-top h3 {
  font-size: 18;
  padding-bottom: 35px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

#footer .footer-top p {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 35px;
}

#footer .footer-top .footer-links {
  font-size: 11px;
  font-weight: bold;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
}

#footer .footer-top .footer-links ul li {
  padding-bottom: 35;
}

#footer .footer-top .footer-links ul a {
  color: #a0b4c7;
}

#footer .footer-top .footer-links ul a.active {
  color: #a2cd87;
  text-decoration: none;
}

#footer .footer-top .footer-links ul a:hover {
  color: #a2cd87;
  text-decoration: none;
}

#footer .footer-recentnews hr{
  height: 2px;
  background-color: #31485A;
  border: none;
}

#footer .footer-top .footer-recentnews p{
  font-size: 16px;
}

#footer .footer-top .footer-recentnews i,span{
  font-size: 12px;
  color:white;
  font-weight: normal;
}

/* #footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
} */

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 20 15;
  width: 65%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #18d26e;
  border: 0;
  width: 35%;
  padding-bottom:20 ;
  padding-top: 20;
  padding-left: 10;
  padding-right: 10;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #13a456;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #A0B2C4;
  color: #eee;
  padding: 8px 0;
  margin-right: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  border-radius: 5%;
}


#footer .social-links a:hover {
  background: #a2cd87;
}

#footer .copyline{
  width: 50%;
  height: 2px;
  background-color: #31485A;
  border: none;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #a0b4c7;
}